@import "../../bower_components/font-awesome/scss/font-awesome.scss";
@import "../../bower_components/bootstrap/dist/css/bootstrap";
@import "../../bower_components/bootstrap/dist/css/bootstrap-theme";
@import "fonts/_roboto.scss";
//@import "material/style";
@import "material/animate";
@import "material/owl.carousel";
@import "material/themify-icons";
@import "misc/_terminal.scss";
.btn-punch.btn-primary, .btn-punch.btn-info {
    background-image: none;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

p.email-signup-message.has-error {
    color: #de4f4f;
    font-size: 12px;
    margin-bottom: 0;
}

p.email-signup-message.has-no-error {
    color: green;
    font-size: 12px;
    margin-bottom: 0;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
