<!-- PARALLAX SECTION -->
<section>
    <section class="bigger-padding section background-wrapper with-overlay primary-overlay half-overlay active-section">
        <div class="background-image parallax-background" data-stellar-background-ratio="0.5"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="element">
                        <h2>FullStack & Realtime made easy</h2>
                        <div class="heading-line big color-white" style="width:100%"></div>
                        <p class="lead larger-lead">Discover the easiest way to build amazing web and mobile apps in JavaScript</p>
                        <p>
                            <a class="btn btn-punch btn-white hover-primary hover-colors btn-sm" role="button">Install</a>
                            <a class="btn btn-punch btn-info btn-sm btn-darker" role="button">Tutorial</a>
                            <a class="btn" style="padding-top: 10px;">
                                <iframe src="https://ghbtns.com/github-btn.html?user=mcfly-io&repo=generator-mcfly&type=star&count=true&size=large" frameborder="0" scrolling="0" style="position:initial;margin:0;width:160px;height:30px"></iframe>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <img src="images/app/backtothefuture.png">
                </div>
            </div>
        </div>
    </section>
    <section class="section grey-background" style="padding:15px">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4 style="padding:0;line-height:49px">Get notified when we launch</h4>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">
                    <form class="form" role="form" style="margin:0" validate name="formRegister">
                        <div class="input-group">
                            <label class="sr-only" for="exampleInputEmail2">Email address</label>
                            <input type="email" name="email" required ng-model="vm.email" class="form-control input-lg" placeholder="you@domain.com" style="height: 43px;padding-left: 10px;">
                            <span class="input-group-btn">
                                <a class="btn btn-punch btn-primary btn-sm btn-darker" style="background-image:none" ng-disabled="formRegister.email.$invalid" ng-click="vm.register(formRegister.email.$valid)" type="button">Go!</a>
                            </span>
                        </div>
                        <p class="email-signup-message has-no-error" ng-show="vm.registerSuccess">Thanks for subscribing, we'll keep you posted.</p>
                        <p class="email-signup-message has-error" ng-show="vm.registerError">Sorry, we couldn't add this email address.</p>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section active-section ">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="lighter">What's MCFLY ?</h2>
                    <p class="lead large-lead">MCFLY is a javascript full stack platform for building easily realtime mobile hybrid and web single page app using latest (but mainstream) libraries and framework.</p>
                    <p class="lead large-lead">But we are not a new platform, we are the glue that connects together awesome frameworks to give you what we consider the best possible tools in the minimum learning curve.
                    </p>
                </div>
                <div class="col-md-6 terminal">
                    <div class="window" style="height:300px;margin-top:50px">
                        <div class="titlebar">
                            <div class="buttons">
                                <div class="close">
                                    <a class="closebutton" href="#">
                                        <span>
                                            <strong>x</strong>
                                        </span>
                                    </a>
                                </div>
                                <div class="minimize">
                                    <a class="minimizebutton" href="#">
                                        <span>
                                            <strong>&ndash;</strong>
                                        </span>
                                    </a>
                                </div>
                                <div class="zoom">
                                    <a class="zoombutton" href="#">
                                        <span>
                                            <strong>+</strong>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            mcfly cli
                        </div>
                        <div class="content">
                            <div class="line">> npm install -g mcfly</div>
                            <div class="line">> yo mcfly awesomeApp</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--     <section class="section active-section grey-background ">
        <div class="container">
            <div class="row">
          
                <div class="col-md-12 text-center">
                    <h2 class="lighter">Motivations</h2>
                    <p class="lead large-lead" style="margin:0">We have spent the last couple of years trying out new technologies, trying to figure out what could be the best possible stack, but without compromising on flexibility and giving the ability to our developers to make their own choices when needed. Today we decided to share this knowledge with you.</p>
                    <p class="lead large-lead" style="margin:0">Whenever it is possible we are always using automation, in order to get things done in a second and to avoid cut and paste. </p>
                    <p class="lead large-lead" style="margin:0">Our CTO is one of the top 10 contributors for yeoman, and it is used extensively in our solution, both on the client and the server. </p>
                </div>

            </div>
        </div>
    </section> -->
    <!-- /.section -->
    <section class="section divider-section active-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="divider"></div>
                    <!-- /.divider -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <section class="section active-section wwith-overlay pprimary-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h1 class="lighter">Magic, but not black magic</h1>
                    <p class="lead">We use standard and well maintained technologies. That’s the assemblage of those technologies that creates the magic, not some hack or proprietary protocol that no one else is using.
                        <br>
                        <strong> You will feel at home right away.</strong>
                    </p>
                    <div class="space hidden-sm hidden-xs"></div>
                </div>
                <!-- /.col -->
                <div class="col-md-4">
                    <div class="service-block">
                        <i class="icon ti-package ttext-primary"></i>
                        <h4 class="lighter">Smaller is better</h4>
                        <p>The amount of code you need to write is very, very short. We truly believe that in software programming smaller is better.</p>
                        <div class="space hidden-sm hidden-xs"></div>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-4">
                    <div class="service-block">
                        <i class="icon ti-target ttext-primary"></i>
                        <h4 class="lighter">Isomorphic - Full stack</h4>
                        <p>When accessing your data model and entities, you write same code on the server and the client. This reduces the level of complexity and code maintenance, and allows you to reuse your knowledge in javascript.
                        </p>
                        <div class="space hidden-sm hidden-xs"></div>
                    </div>
                </div>
                <!-- /.col -->

                <!-- /.col -->
                <div class="col-md-4">
                    <div class="service-block">
                        <i class="icon ti-timer ttext-primary"></i>
                        <h4 class="lighter">Realtime</h4>
                        <p>Even today, realtime is difficult to implement. We provide a scalable and simple to use real time programming model. Just use it if you need. You can progressively make your entities reactive but at your own pace, as you app evolves.</p>
                        <div class="space hidden-sm hidden-xs"></div>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-4">
                    <div class="service-block">
                        <i class="icon ti-cloud ttext-primary"></i>
                        <h4 class="lighter">Database agnostic</h4>
                        <p>You can switch around datasources (in-memory, SQL, noSQL, REST, SOAP, etc…), without impacting the client side or your REST API.</p>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-4">
                    <div class="service-block">
                        <i class="icon ti-rocket ttext-primary"></i>
                        <h4 class="lighter">Hot deploys</h4>
                        <p>Type one command to push your app into production and update all connected browsers and devices. No need to go through the App Store.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-block">
                        <i class="icon ti-face-smile ttext-primary"></i>
                        <h4 class="lighter">Full Lifecycle managemnt</h4>
                        <p>
                            - Fast build process using gulp with ready to use tasks
                            <br/> - Instrument your code with Sentry and Mixpanel in one line of code
                            <br/> - Publish for testing to testfairy
                            <br/>- Enjoy hot push code for instantly updating</p>

                        <br/>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <div class="section black-background active-section">
        <div class="container">
            <div class="row">
                <!-- <div class="col-md-3">
                    <h6 class="uppercase-text letter-spacing">About Us</h6>
                    <p></p>
                </div>
                <div class="col-md-3 col-md-offset-2">
                    <h6 class="uppercase-text letter-spacing">Our Mission</h6>
                    <p></p>
                </div>

                <div class="col-md-3 col-md-offset-1">
                    <h6 class="uppercase-text letter-spacing">OUR ADDRESS</h6>
                    <address>
                        <strong>McFly</strong>
                        <br> 8 Scrubs Lane
                        <br> NW10 6RB, LONDON
                        <br>
                        <abbr title="Phone">P:</abbr> (+44) 456-7890
                    </address>
                </div> -->
                <div class="col-md-12 text-center">
                    <!--  <div class="space"></div>
                    <div class="divider"></div> -->
                    <p class="letter-spacing small-text">© MCFLY 2015.</p>
                </div>
            </div>
        </div>
    </div>
</section>
